<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom -->
        <link href="../css/custom.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/font-awesome-4.5.3/css/font-awesome.min.css">

        <!-- CSS STYLE-->
        <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />

        <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="../scripts/libs/rs-plugin/css/settings.css" media="screen" />
        <link href="../scripts/libs/ckeditor/plugins/codemirror/css/codemirror.min.css" rel="stylesheet" />

        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />

        <link type="text/css" rel="stylesheet" href="../css/materialAdmin/assets/css/theme-default/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="../css/materialAdmin/assets/css/theme-default/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="../css/materialAdmin/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
        <!--Scripts-->

        <script src="../scripts/libs/angular/angular.min.js"></script>
        <script src="../scripts/libs/angular/angular-route.min.js"></script>
        <script src="../scripts/app.js"></script>
        <script src="../../topics/scripts/directives/topicsController.js"></script>
        <script src="../../topics/scripts/routes/topicRoute.js"></script>
        <script src="../scripts/libs/ckeditor/angular-ckeditor.js"></script>
        <script src="../scripts/libs/ckeditor/ckeditor.js"></script>
        <script src="../scripts/directives/controls/Ckeditor.js"></script>
        <script src="../scripts/libs/ckeditor/plugins/codemirror/plugin.js"></script>
    </head>
    <body ng-app="JobTipsApp">

        <div class="container-fluid">

            <div class="headernav">
                <div class="container">
                    <div class="navbar-header">
                        <button class="btn-gruop-nav navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-icancode" aria-controls="nav-icancode" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#home"><img class="logo" src="../../../images/logo.jpg" alt=""/></a>
                    </div>
                    <nav id="nav-icancode" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 avt">
                                <div class="stnt pull-left">
                                    <a class="btn btn-primary" href="#newTopic">Start New Topic</a>
                                </div>
                                <div class="env pull-left">
                                    <i class="fa fa-envelope"></i>
                                </div>

                                <div class="avatar pull-left dropdown">
                                    <a data-toggle="dropdown" href=""><img src="../../../images/avatar.jpg" alt="" /></a> <b class="caret"></b>
                                    <div class="status green">&nbsp;</div>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Inbox</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Log Out</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-4" href="#newAccount">Create account</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="">Learn</a></li>
                            <li><a href="">Technology</a></li>
                            <li><a href="">Knowledge</a></li>
                        </ul>
                    </nav>
                    
                    <!--<div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="#home"><img src="../../../images/logo.jpg" alt=""/></a>
                        </div>
                        <div class="col-lg-3 col-xs-9 col-sm-5 col-md-3 selecttopic">
                            <div class="dropdown">
                                <a data-toggle="dropdown" href="#">Borderlands 2</a> <b class="caret"></b>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Borderlands 1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Borderlands 2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Borderlands 3</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 search hidden-xs hidden-sm col-md-3">
                            <div class="wrap">
                                <form action="#" method="post" class="form">
                                    <div class="pull-left txt"><input type="text" class="form-control" placeholder="Search Topics">
                                    </div>
                                    <div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">
                                <a class="btn btn-primary" href="#newTopic">Start New Topic</a>
                            </div>
                            <div class="env pull-left"><i class="fa fa-envelope"></i>
                            </div>

                            <div class="avatar pull-left dropdown">
                                <a data-toggle="dropdown" href="#"><img src="../../../images/avatar.jpg" alt=""/></a> <b class="caret"></b>
                                <div class="status green">&nbsp;</div>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-2" href="#">Inbox</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">Log Out</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-4" href="#newAccount">Create account</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>-->
                </div>
            </div>


            <section class="content" ng-view>
            </section>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="../../../images/logo.jpg" alt=""  /></a></div>
                        <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyrights 2014, websitename.com</div>
                        <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
                            <ul class="socialicons">
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-cloud"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- get jQuery from the google apis -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
 

        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script type="text/javascript" src="../scripts/libs/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="../scripts/libs/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script type="text/javascript" src="../scripts/libs/bootstrap.min.js"></script>

        <!-- BEGIN JAVASCRIPT -->
        <script src="../css/materialAdmin/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="../css/materialAdmin/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
        <script src="../css/materialAdmin/assets/js/libs/spin.js/spin.min.js"></script>
        <script src="../css/materialAdmin/assets/js/libs/autosize/jquery.autosize.min.js"></script>
        <script src="../css/materialAdmin/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/App.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppNavigation.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppOffcanvas.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppCard.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppForm.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppNavSearch.js"></script>
        <script src="../css/materialAdmin/assets/js/core/source/AppVendor.js"></script>
        <script src="../css/materialAdmin/assets/js/core/demo/Demo.js"></script>
        <script src="../css/materialAdmin/assets/js/core/demo/DemoLayouts.js"></script>
        <!-- END JAVASCRIPT -->
    </body>
</html>