<section class="section-account">
    <div class="card contain-xs style-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <span class="text-lg text-bold text-primary">MATERIAL ADMIN</span>
                    <br /><br />
                    <form class="form floating-label" action="" accept-charset="utf-8" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password">Password</label>
                            <p class="help-block"><a href="#">Forgotten?</a></p>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <div class="checkbox checkbox-inline checkbox-styled">
                                    <label>
                                        <input type="checkbox"> <span>Remember me</span>
                                    </label>
                                </div>
                            </div><!--end .col -->
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary btn-raised" type="submit">Login</button>
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </form>
                </div><!--end .col -->
            </div><!--end .row -->
        </div><!--end .card-body -->
    </div><!--end .card -->
</section>